* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: black;
}
.gallery-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.image-container img {
    margin-top: 10vh;
    width: 100%;
    height: 500px;  /* Set a fixed height */
    object-fit: scale-down;

}
.navigation-buttons {
    text-align: center;
    margin-top: 20px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: auto;  /* Adjust the width as per your design */
    height: auto;
    
    
}

form label {
    align-self: flex-start;
    margin-bottom: 5px;
    font-weight: 600;
    color: black;
}

form select, form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #aaa;
}

form select {
    margin-bottom: 20px;
}

form input[type="submit"] {
    background-color: #01359C;
    color: #fff;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #012b6f;
}

.select-issue, input[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #aaa;
}
input[type="submit"] {
    width: auto;
    
    border: none;
    background-color: #01359C;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
}
.arrow {
    color: #01359C;
    font-size: 24px;
    text-decoration: none;
}
.left-half, .right-half {
    width: 50%;
}
.left-half {
    padding-right: 20px;
}
.right-half {
    text-align: center;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto
}


#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    
    width: auto; /* Full width */
    height: auto; /* Full height */
    overflow: auto; /* Enable scroll if needed */
   
    
}

/* Modal Content (image) */
.modal-content {
    scale: 1.5;
    margin: auto;
    display: block;
    width: auto; /* Full width */
    height: auto; /* Full height */
    max-width: fit-content;
   
   
}


@-webkit-keyframes zoom {
    from {-webkit-transform:scale(1)}
    to {-webkit-transform:scale(2)}
}
 
@keyframes zoom {
    from {transform:scale(0.4)}
    to {transform:scale(1)}
}

@-webkit-keyframes zoom-out {
    from {transform:scale(1)}
    to {transform:scale(0)}
}
@keyframes zoom-out {
    from {transform:scale(1)}
    to {transform:scale(0)}
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
.out {
    animation-name: zoom-out;
    animation-duration: 0.6s;
  }

  /* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}