<!DOCTYPE html>
<html>
<head>
    <title>Blue Dome</title>
    <link rel="stylesheet" href="static/css/excel_uploader.css">
</head>

<body>
    {% if group[0] == 'Administrators' %}
        {% include 'navbar_administrator.html' %}
    {% elif group[0] == 'Users' %}
        {% include 'navbar_user.html' %}
    {% endif %}
    <div class="upload-wrapper">
        
        <form action="/process" method="POST" enctype="multipart/form-data">
            <h1>Upload files</h1>
            <div class="upload-btn-wrapper">
                <button class="btn">Browse</button>
                <input type="file" name="file" id="file" multiple>
            </div>
            <div id="fileList" class="selected-files"></div>
            <input type="submit" value="Submit">
        </form> 
    </div>
    <script src="static/js/excel_uploader.js"></script>
    {% include 'footer.html' %}
</body>
</html>
