<!DOCTYPE html>
<html>
<head>
    <title>Blue Dome</title>
    <link rel="stylesheet" href="static/css/gallery.css">
</head>
<body>
    {% if group[0] == 'Administrators' %}
        {% include 'navbar_administrator_lookup.html' %}
    {% elif group[0] == 'Users' %}
        {% include 'navbar_user_lookup.html' %}
    {% endif %}
    
    <div class="gallery-container">
        <div class="image-container">
            <div class="left-half">
               
                <form action="/issue" method="post">
                    <div>
                        <h3 style="margin-right: 10px; display: inline;">{{ 'File name' }}</h3>
                        <p style="display: inline;">{{ file_name[current_index] }}</p>
                    </div>
                    {% for i in range(headers[current_index]|length ) %}
                        {% if not validate_url(file_dict[file_name[current_index]][row_position[current_index]][i]) %}
                            <div style="display: flex; align-items: center; justify-content: center;">
                                <h3 style="margin-right: 20px;">{{ headers[current_index][i] }}</h3>
                                <p>{{ file_dict[file_name[current_index]][row_position[current_index]][i] }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                    
                        <label for="issue_text">Issue with output:</label>
                        <select id="issue_text" name="issue_text" class="select-issue">
                            <option value="">Please select an issue</option>
                            <option value="Sign Not Boxed">Sign Not Boxed</option>
                            <option value="Boxed Error">Boxed Error</option>
                            <option value="Re-Box">Re-Box</option>
                            <option value="Error MUTCD Code">Error MUTCD Code</option>
                            <option value="Error Description">Error Description</option>
                            <option value="Duplicate">Duplicate</option>
                            <option value="Spelling Error">Spelling Error</option>
                            <option value="Retake">Retake</option>
                        </select>
                        <input type="submit" value="Submit Issue">
                    </form>
            </div>
            <div class="right-half">
                {% for i in range(headers[current_index]|length ) %}
                    {% if validate_url(file_dict[file_name[current_index]][row_position[current_index]][i]) %}
                        <div style="display: flex; align-items: center; justify-content: center;">
                            
                            <img id="myImg" src="{{ file_dict[file_name[current_index]][row_position[current_index]][i] }}" alt="Image">
                           
                            <div id="myModal" class="modal">
                                <img class="modal-content" id="img01">
                               
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="navigation-buttons">
                    {% if current_index > 0 %}
                        <a href="/previous" class="arrow">◀</a>
                    {% endif %}

                    {% if current_index < file_paths|length - 1 %}
                        <a href="/next" class="arrow">▶</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>

<script>
    // Get the modal
    var modal = document.getElementById('myModal');
     
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById('myImg');
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function(){
        modal.style.display = "block";
        modalImg.src = this.src;
        modalImg.alt = this.alt;
        captionText.innerHTML = this.alt;
    }
     
     
    // When the user clicks on <span> (x), close the modal
    modal.onclick = function() {
        img01.className += " out";
        setTimeout(function() {
           modal.style.display = "none";
           img01.className = "modal-content";
         }, 400);
        
     }    
        
    </script>

